
@font-face{
  font-family: BunyaBold;
  src:url(./BunyaPersonalBold-78Yw.ttf)
}


@font-face{
  font-family: BunyaLight;
  src:url(./BunyaPersonalLight-mGoj.ttf)
}

html,body{
  width: 100%;
}



body{
  margin: 0;
  padding: 0;
  color: black;
  font-weight: lighter;
  font-family: 'Verdana';
}

header{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 90.0%;
  padding:0%;
  margin: auto;
}
header h1{
  font-family: BunyaBold;
  font-weight: bolder;
  font-size: 8vh;
  color:  #3e42b3e8;
  text-align: center;
  justify-content: center;
  flex:10;
}
header div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex:2;
}

header div input{
  font-family: BunyaBold;
  font-size: 1.3em;
  margin-top: auto;
  margin-bottom: auto;
  padding: 4%;
  padding-left: 8%;
  padding-right: 8%;

  line-height: 1.5em;
  letter-spacing: 0.10em;
  /* margin-left: 4%; */
  border: none;
  flex-grow: inherit;
  background-color: white;
  color: #494FFF ;
}

header div input:hover{
  border: none;
  background-color: #3e42b3ce;
  cursor: pointer;
  color: white;
}

header div input:active{
  border: none;
  background-color: #3e42b3ce;
}



section{
  margin: auto;
  margin-top: 1%;
  width: 90%;
  text-overflow: clip;
  height: 500px;
}

section h2{

  color: #000;

}

section h2:nth-child(2n+1){
  text-align: center;
  color:black
}

footer{
  height: auto;
  padding: 20px;
  color:#ffffffae;
  background-color: black;  
}

footer li{
  list-style-type: none;
  padding: 2px;;
}


#Events{
  margin: auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.SubSect{
  margin: auto;
  text-overflow: clip;
  background-color: #0000002f;
}



.Event{
  border-bottom: 0.5px rgba(0, 0, 0, 0.422) solid;
  border-right: 0.5px rgba(0, 0, 0, 0.422) solid;
  flex-grow: inherit;
  display: flex;
  height: 200px;  
  margin: 2%;
}

.avatar{
  flex: 4;
  background-color: #000; 
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS7HCO7BueXUImWfcyS9l8SMSFMKOhskNIxFJrxZbI2hQ_HlrpY);
  background-position: fill;
  background-repeat: no-repeat;
}

.photos .photo img{
  width: 100%;
  height: 40vh;
}


.aboutEvent{
  flex:6;
  padding: 2%;
  display: flex;  
  flex-direction: column;
}

.EventHeading{
  font-size: 2em;
  color: rgba(0, 0, 0, 0.699);
}

.Description{
  padding: 2%;
  text-overflow: clip;
  font-size: 1.1em;

}





