
@font-face{
  font-family: BunyaBold;
  src:url(./BunyaPersonalBold-78Yw.ttf)
}


@font-face{
  font-family: BunyaLight;
  src:url(./BunyaPersonalLight-mGoj.ttf)
}

html,body{
  width: 100%;
}



body{
  margin: 0;
  color: black;
  font-weight: lighter;
  font-family: 'Verdana';
}

header{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 90.0%;
  margin: auto;
}
header h1{  
  font-weight: bolder;
  font-size: 8vh;
  letter-spacing: -2px;
  color:  #3e42b3e8;
  text-align: start;
  justify-content: center;
  flex:10;
}
header div{
  display: flex;
  flex-direction: row;
  flex:2;
}

header div input{
  
  font-size: 3vh;
  margin-top: auto;
  margin-bottom: auto;
  padding: 4%;
  padding-left: 8%;
  padding-right: 8%;

  line-height: 1.5em;
  font-weight: 500;
  border: none;
  flex-grow: inherit;
  background-color: white;
  color: #494FFF ;
}

header div input:hover{
  border: none;
  background-color: #3e42b3ce;
  cursor: pointer;
  color: white;
}

header div input:active{
  border: none;
  background-color: #3e42b3ce;
}



section{  
  min-height: 400px;
  text-overflow: clip;
  display: flex;
  flex-wrap: wrap;
}

section div{
  flex: 7 ;
}
section h2{
  flex:1;
  color: #000;
  font-size: 3em;
  display: inline;
  /* text-orientation: upright;
  writing-mode: vertical-rl; */
}

section h2:nth-child(2n+1){
  text-align: center;
  color:black

}

footer{
  height: auto;
  padding: 20px;
  color:#ffffffae;
  background-color: black;  
}

footer li{
  list-style-type: none;
  padding: 2px;;
}


#Events{ 
  background-color: #008bc9;
  display: flex;
  flex-wrap: wrap;
}

.SubSect{
  margin: auto;
  text-overflow: clip;
  background-color: #0000002f;
}



.Event{
  min-width: 200px;
  max-width: 250px;
  flex:1;
  padding: 20px;
  color: #fff;
  background-color: white;
  align-items: flex-start;
  border-bottom: 0.5px rgba(0, 0, 0, 0.422) solid;
  border-right: 0.5px rgba(0, 0, 0, 0.422) solid;
  display: flex;
  flex-direction: column;
  height: 200px;  
  margin: 1%;
}

.avatar{
  flex: 4;
  width: 100px;
  height: 100px;
  background-color: #000; 
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS7HCO7BueXUImWfcyS9l8SMSFMKOhskNIxFJrxZbI2hQ_HlrpY);
  background-position: fill;
  border-radius: 50% ;
  background-repeat: no-repeat;
}

.photos .photo img{
  width: 100%;
}


.aboutEvent{
  flex:6;
  padding: 2%;
  display: flex;  
  flex-direction: column;
}

.EventHeading{
  font-size: 2em;
  color: rgba(0, 0, 0, 0.699);
}

.Description{
  padding: 2%;
  text-overflow: clip;
  font-size: 1.1em;

}